.man-map {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    padding: 5px 100px 0 100px;
    overflow-x: hidden
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back a {
    font-family: 'Roboto', sans-serif;
    background-color: #003366;
    color: aliceblue;
    padding: 1.5em 1.5em;
    text-decoration: none;
    transition: .5s;
    font-size: 20px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.back a:hover {
    background-color: aliceblue;
    color: #000;
}

/* .globe {
    width: 100%;
    text-align: center;
    padding: 20px 0 50px 0;
}

canvas {
    display: inline;
} */

.distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    color: invert(rgb(26, 26, 26));
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 0;
}

.distribution-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out 0.25s, 
    width 0.25s ease-in-out 0.25s, 
    height 0.25s ease-in-out 0.25s, 
    z-index 0.25s ease-in-out 0.25s;
    background: rgba(26, 26, 26, 0.85);
    border: 5px solid #7fcff7;
}

/* .fa-location-dot {
    color: #fff;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out 0.25s, 
    width 0.25s ease-in-out 0.25s, 
    height 0.25s ease-in-out 0.25s, 
    z-index 0.25s ease-in-out 0.25s;
    background: rgba(26, 26, 26, 0.85);
    font-family: 'Roboto', sans-serif;
} */

.map-point:active, .map-point:focus {
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 300px;
    height: 220px;
    color: invert(rgb(26, 26, 26));
    z-index: 1;
    transition: opacity 0.25s ease-in-out, 
    width 0.25s ease-in-out,
    height 0.25s ease-in-out;
    padding: 0 10px;
}

/* .fa-location-dot:active, .fa-location-dot:focus {
    margin: 0;
    padding: 0;
    opacity: 1;
    width: 300px;
    height: 220px;
    color: invert(rgb(26, 26, 26));
    z-index: 1;
    transition: opacity 0.25s ease-in-out, 
    width 0.25s ease-in-out,
    height 0.25s ease-in-out;
    padding: 0 10px;
} */

.content {
    position: relative;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: overlay;
    font-family: 'Roboto', sans-serif;
}

.map-point:active .content, .map-point:focus .content {
    opacity: 1;
    transition: opacity 0.25s ease-in-out,
    height 0 ease-in-out, 
    overflow 0 ease-in-out 0.25s;
    overflow: hidden;
}

/* .fa-location-dot:active .content, .fa-location-dot:focus .content {
    opacity: 1;
    transition: opacity 0.25s ease-in-out,
    height 0 ease-in-out, 
    overflow 0 ease-in-out 0.25s;
    overflow: hidden;
} */

.map-point:active .content a:hover, 
.map-point:active .content a:active, 
.map-point:focus .content a:hover, 
.map-point:focus .content a:active {
    color: #afe1fa;
}

/* .fa-location-dot:active .content a:hover, 
.fa-location-dot:active .content a:active, 
.fa-location-dot:focus .content a:hover, 
.fa-location-dot:focus .content a:active {
    color: #afe1fa;
} */

.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.centered-y h2 {
    font-size: 24pt;
    margin-bottom: 20px;
    color: #fff;
}

.centered-y p {
    font-size: 12pt;
    margin-bottom: 12pt;
    color: #fff;
}

@media (max-width: 1025px) {
    .man-map {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    /* canvas {
        width: 70%;
    } */

    .map-point {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 4px solid #7fcff7;
    }
}

@media (max-width: 450px) {
    .man-map {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }

    /* .distribution-map > img {
        width: 100vw;
    } */

    .map-point {
        border-radius: 10px;
        border: 2px solid #7fcff7;
        height: 15px;
        width: 5px;
    }

    .back a {
        padding: 15px 20px;
        font-size: 15px;
    }
}